.folder{
    margin: 16px;
    width: 120px;
    height: 120px;
    font-size: 16px;
    text-align: center;
    display: inline-block;
}

.folder:hover{
    background-color: lightblue;
}

.folder>img{
    width: 64px;
    padding: 16px;
}

.file{
    margin: 16px;
    width: 120px;
    height: 120px;
    font-size: 16px;
    text-align: center;
    display: inline-block;
}

.file:hover{
    background-color: lightblue;
}

.file>img{
    width: 64px;
    padding: 16px;
}

.picture  {
    margin: 16px;
    width: 120px;
    height: 120px;
    font-size: 16px;
    text-align: center;
    display: inline-block;
}

.picture:hover{
    background-color: lightblue;
}

.picture>img{
    width: 64px;
    padding: 16px;
}