body, header{
  margin: auto;
  height: 100%;
  width: 100%;
  background-image: url(../blur_wallpaper_hd_desktop_background_download_5.jpg);
  background-size: 100%;
  text-align: center;
}

h1{
  transition: 2.5s;
  font-family: 'Sail', cursive;
  font-size: 600%;
  color: rgba(209, 61, 122, 0.3);
}

h1:hover{
  font-family: 'Sail', cursive;
  font-size: 650%;
  color: rgba(209, 61, 122, 1);
  cursor: pointer;
}

img{
  transition: 1.5s;
  width: 20%;
  height: 20%;
}

img:hover{
  width: 30%;
  height: 30%;
  cursor: pointer;
}
